.profile__edit-button {
    background: url(../../../images/Edit_Button.svg);
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    grid-area: button;
    align-self: flex-end;
    transition: opacity 0.2s linear;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .profile__edit-button:hover {
        opacity: 0.6;
    }
}

@media screen and (max-width: 425px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        align-self: center;
        background-size: cover;
    }
}
